@import "../../../app/page.module.scss";

.slide-effect {
  overflow: hidden;
}

.slide-effect .slideUp {
  display: inline-block;
  position: relative;
  text-align: left;
  transform: translateY(90%);
  transition: all 2s ease-in-out;
}

.slide-effect:hover .slideUp {
  transform: translateY(0%);
}
.slideUp {
  top: 3rem;
  animation: slideUp ease 0.5s forwards 2s;
}

@keyframes slideUp {
  0%,
  25% {
    transform: translateY(0);
  }
  75%,
  100% {
    transform: translateY(-40px);
    opacity: 1;
  }
}

.tab-list {
  gap: 1rem;
  white-space: nowrap;
  li {
    margin: 0.5rem 1rem;
    border: 2px solid $creware-red;
    padding: 0.5rem 3rem;
    white-space: nowrap;
    border-radius: 5px;
  }
}

.margin {
  margin: 0 10rem;
  display: flex;
  gap: 5rem;
  align-items: center;
  justify-content: center;
}

@media (max-width: 1200px) {
  .margin {
    margin: 0 3rem;
  }
}

@media (max-width: 992px) {
  .margin {
    margin: 0 2rem;
  }
}

@media (max-width: 1326px) {
  .tab-list {
    white-space: break-spaces;
  }
}

.single-card:hover {
  border: 1px solid $creware-red;
  // padding: 0.6rem 1rem 0.1rem 0.8rem;
  background: linear-gradient(
    0deg,
    rgba(208, 2, 27, 0.15) 0%,
    rgba(208, 2, 27, 0) 100%
  );
}

.bullets {
  width: fit-content;
  background: linear-gradient(#e66465, #9198e5);
  height: 0.2em;
  width: 0.2rem;
  border-radius: 50%;
}
.image {
  width: 60% !important;
}
