@import "/src/app/page.module.scss";

.bg-gif {
  background-image: url("/images/background.gif");
}

#myVideo {
  position: fixed;
  right: 0;
  bottom: 0;
  min-width: 100%;
  min-height: 100%;
}

.top_title {
  color: #fff;
  font-size: 6.563rem;
  font-style: normal;
  font-weight: 800;
  line-height: normal;
  text-transform: uppercase;

  @media (max-width: 1400px) {
    font-size: 6rem;
  }
  @media (max-width: 1200px) {
    font-size: 4rem;
  }
  @media (max-width: 576px) {
    font-size: 2rem;
  }
}

.dedicated_subtitle {
  color: #fff;
  font-size: 0.938rem;
  font-style: normal;
  font-weight: 300;
  line-height: normal;

  @media (max-width: 1400px) {
    font-size: 0.8rem;
  }
  @media (max-width: 1200px) {
    font-size: 0.78rem;
  }
  @media (max-width: 576px) {
    font-size: 0.7rem;
  }
}
.why_subtitle {
  color: #fff;
  font-size: 0.938rem;
  font-style: normal;
  font-weight: 300;
  line-height: normal;

  @media (max-width: 1400px) {
    font-size: 0.8rem;
  }
  @media (max-width: 1200px) {
    font-size: 0.78rem;
  }
  @media (max-width: 576px) {
    font-size: 0.7rem;
  }
}

.top_title_span {
  color: $creware-red;
  font-size: 6.563rem;
  font-style: normal;
  font-weight: 800;
  line-height: normal;
  text-transform: uppercase;

  @media (max-width: 1400px) {
    font-size: 6rem;
  }

  @media (max-width: 1200px) {
    font-size: 4rem;
  }
  @media (max-width: 576px) {
    font-size: 2rem;
  }
}

.sub_title {
  color: #fff;
  font-size: 1.4rem;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
  text-transform: capitalize;

  @media (max-width: 576px) {
    font-size: 0.825rem;
  }
}

.tablist_main {
  padding: unset;

  :global {
    border-bottom: 2px solid transparent;

    .react-tabs__tab--selected {
      border-bottom: none !important;
    }

    .react-tabs__tab {
      @media (max-width: 376px) {
        width: 50%;
        border-bottom: 2px solid transparent;
      }
    }

    .react-tabs__tab {
      padding: 0.375rem 2rem 0.375rem 0px;

      @media (max-width: 576px) {
        padding: 0 2rem 0 0px !important;
      }
    }
  }
}

.exp_tab_title {
  color: #fff;
  width: fit-content;
  font-size: 1rem;
  font-style: normal;
  font-weight: 500;

  @media (max-width: 768px) {
    font-size: 0.9rem;
  }

  @media (max-width: 576px) {
    font-size: 0.7rem;
  }
}
.exp_tab_selected {
  border-bottom: 2px solid #d0021b;
  width: 100%;
  padding-top: 0.5rem;
  transition: all 0.3s ease;
}

.exp_tab_un_selected {
  border-bottom: 2px solid transparent;
  width: 100%;
  padding-top: 0.5rem;
}

::global {
  .react-tabs__tab {
    margin-left: 3rem;
  }
}

.hire_dev_anim {
  width: 70%;
  height: 100%;

  @media (max-width: 768px) {
    width: 40%;
  }
  @media (max-width: 576px) {
    width: 60%;
  }
}

.exp_left {
  color: #fff;
  font-size: 1.5rem;
  font-style: normal;
  font-weight: 500;
  line-height: 28.5px; /* 118.75% */

  @media (max-width: 1400px) {
    font-size: 1.3rem;
  }
  @media (max-width: 1200px) {
    font-size: 1.1rem;
  }
  @media (max-width: 576px) {
    font-size: 0.9rem;
  }
}

.exp_right {
  color: #fff;
  font-size: 1.031rem;
  font-style: normal;
  font-weight: 400;
  line-height: 27px; /* 163.636% */

  @media (max-width: 1400px) {
    font-size: 0.969rem;
  }
  @media (max-width: 1200px) {
    font-size: 0.75rem;
  }
  @media (max-width: 576px) {
    font-size: 0.7rem;
  }
}

.experienced_web_title {
  color: #bc031c;
  font-size: 2rem;
  font-style: normal;
  font-weight: 700;
  text-transform: capitalize;

  @media (max-width: 1400px) {
    font-size: 1.8rem;
  }
  @media (max-width: 1200px) {
    font-size: 1.5rem;
  }
  @media (max-width: 576px) {
    font-size: 1rem;
  }
}

.hire_title {
  color: #bc031d;
  font-size: 0.844rem;
  font-style: normal;
  font-weight: 400;
  line-height: 1.219rem; /* 144.444% */
  letter-spacing: 0.141rem;
  text-transform: uppercase;

  @media (max-width: 576px) {
    font-size: 0.4rem;
  }
}

.exp_bottom_para {
  color: #fff;
  font-size: 0.938rem;
  font-style: normal;
  font-weight: 300;
  line-height: normal;

  @media (max-width: 1200px) {
    font-size: 0.7rem;
  }
  @media (max-width: 576px) {
    font-size: 0.65rem;
  }
}

.tech_desc {
  color: #fff;
  font-size: 0.844rem;
  font-style: normal;
  font-weight: 500;
  line-height: 27px; /* 200% */

  @media (max-width: 1400px) {
    font-size: 0.79rem;
  }

  @media (max-width: 576px) {
    margin-bottom: 2.5rem;
  }
}

.tabs_icons_main {
  @media (max-width: 576px) {
    padding: unset;
  }
}

.logo_names {
  color: #fff;
  text-align: center;
  font-size: 12.75px;
  font-style: normal;
  font-weight: 600;
  line-height: 19.5px; /* 152.941% */
  text-transform: capitalize;

  @media (max-width: 576px) {
    text-align: center;
  }
}

.crewareRed {
  color: $creware-red;
}
.background {
  background-color: $creware-red;
}

.hire_button {
  color: #fff;
  font-size: 0.938rem;
  text-align: center;
  font-style: normal;
  font-weight: 600;
  text-transform: uppercase;
  padding: 0.4rem 1.2rem;
  border-radius: 0.422rem;
  border: none;

  @media (max-width: 576px) {
    font-size: 0.75rem;
  }
}

.hireTeam {
  background-color: #060b27;
}

#f-sec-div {
  background-color: 060b27;
  color: #ffffffd9;
  height: 746px;
}

.card-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  gap: 20px;
  justify-content: space-between;
}

.home-sec-1-div-1 {
  height: 693px;
  top: 200px;
}

.home {
  background-color: #060b27;
}

.home-sec-2 {
  margin: 30px 140px 30px 140px;
}

.home-sec-3 {
  margin: 30px 140px 30px 140px;
}

.card {
  margin: 8px auto 8px auto;
  border: 1px solid #282d45;
  border-radius: 2px;
  flex-basis: calc(33.33% - 20px);
  background-color: #0e1330;
  color: #ffffffd9;
  text-align: left;
}

.card-2 {
  margin: 8px auto 8px auto;
  flex-basis: calc(33.33% - 20px);
  background-color: none;
  color: #ffffffd9;
  text-align: left;
  padding: 28px;
}

.sec-3-h2 {
  font-size: 44px;
  font-weight: 650;
  line-height: 81px;
  letter-spacing: 0em;
  text-align: center;
  color: #ffffffd9;
}

#card-title {
  font-size: 19px;
}

#card-text {
  font-size: 13px;
  font-weight: 600;
}

#sec-3-img {
  width: 70px;
  height: 70px;
  margin-bottom: 11px;
}

#card-title-2 {
  font-size: 19px;
  font-weight: 500;
  line-height: 24px;
  letter-spacing: 0em;
  text-align: left;
  margin-bottom: 17px;
}

#card-text-2 {
  font-size: 13px;
  font-weight: 400;
  line-height: 25px;
  letter-spacing: 0em;
  text-align: left;
}

.effect {
  height: 500px;
  width: 500px;
  border: 2px solid whitesmoke;
}

.foun-sec {
  padding: 50px;
}

#foun-img {
  border-radius: 50%;
  height: 470px;
  background: linear-gradient(180deg, #ffaaaa, #4325f9);
}

.foun-sec-title {
  font-size: 52px;
  font-weight: 800;
  display: inline-flex;
  letter-spacing: 0em;
  text-align: left;
  color: #ffffff;
  margin-top: 80px;
  padding: 20px;
}

// .foun-title {
// }

.foun-desc {
  text-align: left;
  padding: 0 15px 0 15px;
}

.foun-desc-title {
  text-align: left;
  padding: 0 15px 0 15px;
}

.foun-div {
  display: flex;
}

.red-dot {
  display: flex;
  gap: 20px;
  padding: 0 15px 0 15px;
}

.red-dot-img {
  height: 14px;
  margin-top: 100px;
}

.foun-desc-title {
  font-size: 21px;
  font-weight: 700;
  line-height: 40px;
  letter-spacing: 0.05em;
  text-align: left;
}

.foun-desc {
  font-size: 12px;
  font-weight: 600;
  line-height: 23px;
  letter-spacing: 0em;
  text-align: left;
}

.foun-logo-div {
  display: flex;
  gap: 20px;
  padding: 0 15px 0 15px;
}

.foun-logo-link {
  height: 50px;
  padding: 10px 0 10px 0;
}

.foun-logo {
  height: 50px;
}

.link-div {
  display: flex;
  padding: 0 15px 0 15px;
}

#card-test {
  margin: 25px;
  border: none;
  border-radius: 17px;
  background: linear-gradient(
    180deg,
    rgba(126, 87, 201, 0.6) 0%,
    rgba(255, 116, 116, 0.3) 100%
  );
}

#card-text-test {
  /* font-family: Outfit; */
  font-size: 16px;
  font-weight: 500;
  line-height: 42px;
  letter-spacing: 0em;
  text-align: center;
}

/* tryal */
.base-div-tryal {
  display: flex;
  justify-content: space-between;
  padding: 20px;
  gap: 40px;
}

/* .main-test-div{
    position: relative;
  } */

.test-img {
  width: 80px;
  position: absolute;
  /* top: -25px;
    z-index: 1000; */
}

.box-test {
  position: relative;
  background: linear-gradient(
    180deg,
    rgba(126, 87, 201, 0.6) 0%,
    rgba(255, 116, 116, 0.3) 45%
  );
  -webkit-clippath: polygon(100% 0, 100% 39%, 52% 83%, 0 44%, 0 0);
  clippath: polygon(100% 0, 100% 50%, 52% 63%, 0 50%, 0 0);
  border-radius: 10px;
}

.box-test-h2 {
  height: 650px;
  line-height: 32px;
  text-align: center;
  font-size: 18px;
  padding: 26px;
  padding-top: 50px;
  padding-bottom: 150px;
  font-weight: 600;
}

.form-div {
  display: flex;
}

.form-first-div {
  width: 50%;
  padding: 0 60px 0 80px;
  justify-content: left;
  margin-left: 30px;
}

.form-second-div {
  text-align: left;
  margin-left: 150px;
  /* margin-top: 15px; */
}

.second-div-h2 {
  /* font-family: Outfit; */
  font-size: 44px;
  font-weight: 600;
  line-height: 81px;
  letter-spacing: 0em;
  text-align: left;
}

.first-div-h2 {
  /* font-family: Outfit; */
  font-size: 52px;
  font-weight: 500;
  line-height: 65px;
  letter-spacing: 0px;
  text-align: left;
}

.first-div-p {
  text-align: left;
  /* font-family: Outfit; */
  font-size: 15px;
  font-weight: 500;
  line-height: 18px;
  letter-spacing: 0em;
}

.form-mobile-div {
  display: flex;
  gap: 6px;
  margin: 30px 0 0px 0;
}

.form-email {
  text-align: left;
  font-size: 17px;
}

.form-lable {
  /* font-family: Outfit; */
  color: #ffffff;
  font-size: 24px;
  font-weight: 600;
  line-height: 60px;
  letter-spacing: 0em;
  text-align: left;
}

.input-box {
  background-color: transparent;
  border: none;
  border-bottom: 1px solid #0266ad;
  width: 300px;
  /* line-height: 60px; */
}

.text-area {
  background-color: transparent;
  border: none;
  border-bottom: 1px solid #0266ad;
  width: 300px;
}

.checkbox {
  border-bottom: 2px solid $creware-red;
  opacity: 0.1;
  width: 40px;
  height: 40px;
  margin-top: 20px;
}

.term-div {
  display: flex;
  gap: 15px;
}

.term-label {
  color: #ffffff;
  margin-top: 20px;
  font-size: 12px;
  letter-spacing: 1px;
}

#form-button {
  color: $creware-red;
  background-color: transparent;
  border: none;
  font-size: 35px;
  /* font-family: Outfit; */
  font-weight: 650;
  line-height: 50px;
  letter-spacing: 0em;
  text-align: left;
  width: 190px;
  text-align: center;
  padding: 0;
  /* background-color: red; */
}

#form-button:hover {
  color: #ffffff;
  background-color: transparent;
  border: none;
  font-size: 35px;
  /* font-family: Outfit; */
  font-weight: 650;
  line-height: 50px;
  letter-spacing: 0em;
  text-align: left;
  width: 190px;
  text-align: center;
  padding: 0;
}

.button-div {
  text-align: right;
  display: flex;
  justify-content: flex-end;
  margin: 30px 140px 20px 0;
}

.back-div {
  background-color: black;
  padding: 5px 0 5px 0;
  color: #ffffff;
  font-weight: 500;
  font-size: 18px;
}

.back-div-img {
  margin-left: 10px;
  width: 20px;
}

/* Global Styles */

//   *,
//   *::after,
//   *::before {
//     margin: 0;
//     padding: 0;
//     box-sizing: border-box;
//   }

//   :root {
//     --font: calibri;
//     --main-clr: #0ebac5;
//   }

/* The page */
.main {
  display: grid;
  grid-template-columns: repeat(1 1fr);
  place-items: center;
  // height: 100vh;
}

/* The anchor tag */
.ball {
  color: #d0021b;
  user-select: none;
  font-size: 1.8rem;
  padding: 0.5rem 2rem;
  text-transform: capitalize;
  text-decoration: none;
  position: relative;
  transition: all 500ms cubic-bezier(0.075, 0.82, 0.165, 1);
  font-weight: bolder;
}

/* The Span Wapper tag */
.span-wrapper {
  height: 100%;
  position: absolute;
  inset: 0 -2px -4px 0;
  overflow: hidden;
  z-index: -1;
}

/* The span tags */
.span-wrapper span {
  background-color: #d0021b;
  width: 30%;
  height: 100%;
  border-radius: 100%;
  position: absolute;
  transform: scale(1.8) translateY(125%) translateZ(0);
  transition: all 1s ease;
}

/* The Three Individual Span Tag */
.s1 {
  left: -10%;
  transition-delay: 0ms;
}

.s2 {
  left: 30%;
  transition-delay: 500ms;
}

.s3 {
  left: 70%;
  transition-delay: 800ms;
}

/* Hover State of the parent anchor tag */
.ball:hover {
  color: #fff;
  z-index: 1;
}

.ball:hover .span-wrapper span {
  transform: scale(1.7) translateY(0) translateZ(0);
}

.container-top {
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-direction: column;
  border: 1px solid #5a5b5f;
  border-radius: 5px;
  padding: 3rem 7rem;
  margin: 3rem 7rem 0 7rem;
}

.container2 {
  display: flex;
  align-items: center;
  justify-content: space-between;
  position: absolute;
  top: 0;
  // flex-direction: column;
  // border: 1px solid #5a5b5f;
  width: 100%;
  border-radius: 5px;
  padding: 0rem 14rem 0rem 0rem;

  .flex-column {
    align-items: center !important;
    justify-content: center !important;

    img {
      height: 3rem !important;
    }
  }
}

.tech-box {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: space-between;
  // flex-direction: column;
  // border: 1px solid #5a5b5f;
  border-radius: 5px;
  padding: 0rem 7rem 3rem 7rem;
  height: 30rem;
}

.vertline {
  margin-top: 0;
  width: 0.1px;
  margin-left: 10%;
  background-color: #fff;
  border: 1px dashed;
  top: 40%;
  animation: lineup 4s linear forwards;
  position: relative;
  // animation-iteration-count: infinite;
}

.vertline2 {
  margin-top: 0;
  width: 0.1px;
  margin-left: 10%;
  background-color: #fff;
  border: 1px dashed;
  top: 40%;
  animation: lineup2 4s linear forwards;
  position: relative;
  // animation-iteration-count:1;
}

@keyframes lineup {
  0% {
    height: 0px;
  }

  100% {
    height: 200px;
  }
}

@keyframes lineup2 {
  0% {
    height: 0px;
  }

  100% {
    height: 100px;
  }
}

.arrow {
  text-align: left;
  height: 3rem;

  div {
    animation: toshiba 2s ease-out forwards;
  }
}

@keyframes toshiba {
  from {
    text-align: left;
  }

  to {
    text-align: right;
  }
}

.slide-effect {
  position: relative;
  overflow: hidden;
  width: 100%;
  // height: 40px;
  display: flex;
  text-align: left;
  align-items: flex-end;
  justify-content: flex-end;
  padding: 3rem 0;

  @media (max-width: 768px) {
    padding: 2rem 0;
  }
  @media (max-width: 576px) {
    padding: 1rem 0;
  }
}

.slideUp {
  position: relative;
  opacity: 0;
}

.slideUp {
  top: 40px;
  // left: 10px;
  animation: slideUp ease 0.5s forwards 1.2s;
}

.slide-effect2 {
  position: relative;
  overflow: hidden;
  width: 100%;
  // height: 40px;
  display: flex;
  text-align: left;
  align-items: flex-end;
  justify-content: flex-end;
  // padding: 6rem 0;
}

.slideUp2 {
  position: relative;
  opacity: 0;
  font-size: 1rem;
  color: $creware-red;
}

.slideUp2 {
  top: 40px;
  // left: 10px;
  animation: slideUp ease 0.5s forwards 1.2s;
}

@keyframes slideUp {
  0% {
    transform: translateY(0);
  }

  100% {
    transform: translateY(-40px);
    opacity: 1;
  }
}

//   img {
//     transition: transform 4s ease-in-out;
//     opacity: 1;
//     transform: rotate(360deg);
//   }

#obj1 {
  float: right;
  width: 96px;
  height: 100px;
  // -webkit-animation: mymove 4s infinite; /* Chrome, Safari, Opera */
  // animation: mymove 4s infinite;
  // animation-delay:2s;
  transition: transform 4s ease-in-out;
  background-image: url("/images/services/images/htmlcss.png");
  // transform: scale(1.5);
  // -moz-transform: scale(1.5);
  // -webkit-transform: scale(1.5);
  // -o-transform: scale(1.5);
  // -ms-transform: scale(1.5); /* IE 9 */
  margin-bottom: 70px;
  transform: rotate(360deg);
}

/* Standard syntax */
// @keyframes mymove {
//   100% {transform: rotate(30deg);
// }
// }

.reveal {
  position: relative;
  transform: rotate(360deg);
  opacity: 0;
  transition: transform 4s ease-in-out;
}

.reveal.active {
  transform: rotate(360deg);
  opacity: 1;
}

@keyframes marquee {
  0% {
    transform: translateY(0%);
  }

  100% {
    transform: translateY(-100%);
  }
}

.fs {
  font-size: 4rem;
}

.height {
  height: 15rem;
}

.image-container {
  // width: 25rem;
  // height: 25rem;
  overflow: hidden;

  img {
    max-width: 100%;
    height: auto;
    width: 25rem;
    height: 25rem;
  }
}

.rotate {
  animation: rotate 4s linear 0s 1 normal forwards;
}

@keyframes rotate {
  0% {
    transform: rotate(0deg) scale(0);
  }

  100% {
    transform: rotate(360deg) scale(1);
  }
}

.content {
  width: 400px;
  // height: 200px;
  color: white;
  cursor: pointer;
  // text-transform: uppercase;
  // padding-bottom: 20px;
  position: relative;
  // background: #333;
}

.line-container .icon {
  width: 35vw;
  height: 1vw;
  position: relative;
  top: 2.5rem;

  svg {
    width: 95%;
    height: 95%;
  }
}

.line-container .icon2 {
  width: 30vw;
  position: relative;
  top: 14rem;

  svg {
    width: 95%;
    height: 95%;
  }
}

.line-container .icon path {
  fill: transparent;
  strokewidth: 10;
  stroke: #31e8ff;
}

.line-container .icon.line path {
  stroke-dasharray: 500;
  stroke-dashoffset: 500;
  animation: animate 4s linear forwards;
}

.line-container .icon2.line path {
  stroke-dasharray: 500;
  stroke-dashoffset: 500;
  animation: animate 4s linear forwards;
}

@keyframes animate {
  0% {
    stroke-dashoffset: -500;
  }

  40% {
    stroke-dashoffset: 0;
  }

  80% {
    stroke-dashoffset: 0;
  }

  100% {
    stroke-dashoffset: 0;
  }
}

.cards {
  background: #28223f;
  display: grid;
  place-items: center;
  min-height: 100vh;
}

.outer {
  display: flex;
  align-items: center;
  justify-content: center;
}

.cards .card {
  background: #fff;
  padding: 1.5rem;
  max-width: 30rem;
  border-radius: 0.5rem;
  position: absolute;
  pointer-events: none;
  opacity: 0;
  animation: animate 15s infinite linear;
  animation-delay: calc(3s * var(--delay));
}

.profile,
.header {
  display: flex;
  align-items: center;
}

.header {
  justify-content: space-between;
}

.profile {
  margin-bottom: 0.5rem;
}

.profile .img {
  height: 50px;
  width: 50px;
  border-radius: 50%;
  padding: 5px;
  background: #fff;
  box-shadow: 0 8px 24px rgba(0, 0, 0, 0.178);
}

.profile .img img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  border-radius: 50%;
}

.profile .details {
  margin-left: 10px;
}

.op-star {
  color: #28223f;
  font-size: 1.1rem;
}

.outer:hover .card {
  animation-play-state: paused;
}

.cards .card:last-child {
  animation-delay: calc(-3s * var(--delay));
}

@keyframes animate {
  0% {
    opacity: 0;
    transform: translateY(100%) scale(0.5);
  }

  5%,
  20% {
    opacity: 0.4;
    transform: translateY(100%) scale(0.7);
  }

  25%,
  40% {
    opacity: 1;
    pointer-events: all;
    transform: translateY(0%) scale(1);
  }

  45%,
  60% {
    opacity: 0.4;
    transform: translateY(-100%) scale(0.7);
  }

  65%,
  100% {
    opacity: 0;
    transform: translateY(-100%) scale(0.5);
  }
}

@media (max-width: 467px) {
  /*Edited*/
  .card {
    font-size: 10px;
    padding: 0.5rem !important;
    margin: 0.5rem;
    text-align: center;
  }

  .header,
  .profile {
    flex-direction: column;
    margin-bottom: 0.5rem;
  }
}

.circle {
  width: 300px;
  height: 300px;
  border: 2px solid #fff;
  border-radius: 50%;
  position: relative;
}

.circle1 {
  width: 70px;
  height: 70px;
  border: 2px solid #fff;
  border-radius: 50%;
  position: relative;
  top: -2rem;
  left: 39%;
  background-color: #fff;

  img {
    width: 2rem;
    height: 2rem;
  }
}

.circle1:hover,
.circle2:hover,
.circle3:hover,
.circle4:hover,
.circle5:hover,
.circle6:hover,
.circle7:hover {
  background-color: $creware-red;
  border: 3px solid black;
  outline: 2px solid $creware-red;

  svg g path {
    fill: #fff;
  }

  svg path {
    fill: #fff;
  }
}

.circle2 {
  width: 70px;
  height: 70px;
  border: 2px solid #fff;
  border-radius: 50%;
  position: relative;
  top: -3rem;
  right: -14rem;
  background-color: #fff;
}

.circle3 {
  width: 70px;
  height: 70px;
  border: 2px solid #fff;
  border-radius: 50%;
  position: absolute;
  bottom: 5rem;
  left: 85%;
  background-color: #fff;
}

.circle4 {
  width: 70px;
  height: 70px;
  border: 2px solid #fff;
  border-radius: 50%;
  position: relative;
  bottom: 0rem;
  right: 10%;
  background-color: #fff;
}

.tech_headings {
  color: #bc031c;
  font-size: 1.5rem;
  font-style: normal;
  font-weight: 600;

  @media (max-width: 1400px) {
    font-size: 1.4rem;
  }

  @media (max-width: 1200px) {
    font-size: 1.2rem;
  }
  @media (max-width: 576px) {
    font-size: 0.9rem;
  }
}

.hire_cards_desc {
  color: #fff;
  font-size: 0.844rem;
  font-style: normal;
  font-weight: 500;
  line-height: 27px;
  margin-top: 1.688rem;

  @media (max-width: 1400px) {
    font-size: 0.77rem;
  }
  @media (max-width: 576px) {
    font-size: 0.7rem;
  }
}

.hire_card_main {
  padding: 2.438rem 1.594rem 2.344rem 2.438rem;
  cursor: pointer;

  @media (max-width: 767px) {
    margin: 1.5rem 0;
  }

  @media (max-width: 576px) {
    padding: 1.5rem 0.9rem 1.45rem 1.5rem;
  }
}

.blackHole_img {
  width: 100%;
  object-fit: contain;
}

.dedicated_title {
  font-size: 2rem;
  text-transform: capitalize;

  @media (max-width: 1400px) {
    font-size: 1.8rem;
  }
  @media (max-width: 1200px) {
    font-size: 1.7rem;
  }
  @media (max-width: 768px) {
    font-size: 1.6rem;
  }
  @media (max-width: 576px) {
    font-size: 1rem;
  }
}

.circle5 {
  width: 70px;
  height: 70px;
  border: 2px solid #fff;
  border-radius: 50%;
  position: relative;
  bottom: -2rem;
  left: 65%;
  background-color: #fff;
}

.circle6 {
  width: 70px;
  height: 70px;
  border: 2px solid #fff;
  border-radius: 50%;
  position: relative;
  top: -2rem;
  right: -14%;
  background-color: #fff;

  svg path {
    fill: #000;
  }
}

.circle7 {
  width: 70px;
  height: 70px;
  border: 2px solid #fff;
  border-radius: 50%;
  position: relative;
  top: -21rem;
  left: 1%;
  background-color: #fff;
}

.circle8 {
  width: 160px;
  height: 160px;
  border: 2px solid rgb(253, 0, 0);
  border-radius: 50%;
  position: relative;
  top: -22rem;
  left: 23%;
  background-color: rgb(253, 0, 0);

  .circle9 {
    width: 140px;
    height: 140px;
    border: 2px solid rgb(49, 19, 19);
    border-radius: 50%;
    position: relative;
  }
}

.logo-slider {
  height: 30rem;
  border: 1px solid #575757;
  // padding: 20px;
  overflow: hidden;
  max-width: 900px;
  width: 100%;
  margin: 0 auto;
  position: relative;
  display: flex;
  flex-direction: column;

  .blocks {
    display: flex;
    position: relative;
    flex-direction: column;
    animation: marquee 15s linear infinite;
  }

  img {
    display: block;
  }

  &:after {
    content: "";
    position: absolute;
    width: 100%;
    height: 100%;
    left: 0;
    top: 0;
  }
}

.dev_buttons_main {
  margin: 1.25rem 0;
  display: flex;
  gap: 1.25rem;
  flex-wrap: wrap;

  .dev_button {
    font-size: 0.8rem;
    padding: 4px 0.516rem;
    width: 18.2%;
    text-align: left;
    border-radius: 3px;
    background-color: #fff;
    display: flex;
    align-items: center;
    gap: 4px;
    border: none;
    box-shadow: 0px 0px 7.5px 0px rgba(0, 0, 0, 0.04);

    // outline: 2px solid transparent;

    @media (max-width: 1200px) {
      width: 18%;
    }
    @media (max-width: 1100px) {
      width: 19%;
    }
    @media (max-width: 768px) {
      width: 25%;
      font-size: 0.7rem;
    }
    @media (max-width: 576px) {
      width: 30.8%;
    }
    @media (max-width: 550px) {
      width: 30.7%;
    }
    @media (max-width: 530px) {
      width: 30.6%;
    }
    @media (max-width: 512px) {
      width: 30.5%;
    }
    @media (max-width: 495px) {
      width: 30.4%;
    }
    @media (max-width: 479px) {
      width: 30.3%;
    }
    @media (max-width: 464px) {
      width: 30.2%;
    }
    @media (max-width: 450px) {
      width: 47.5%;
    }
    @media (max-width: 424px) {
      width: 47.4%;
    }
    @media (max-width: 409px) {
      width: 47.3%;
    }
    @media (max-width: 394px) {
      width: 47.2%;
    }
    @media (max-width: 381px) {
      width: 47.1%;
    }
    @media (max-width: 369px) {
      width: 47%;
    }
    @media (max-width: 357px) {
      width: 46.9%;
    }
    @media (max-width: 347px) {
      width: 46.8%;
    }
    @media (max-width: 337px) {
      width: 46.7%;
    }
    @media (max-width: 327px) {
      width: 46.6%;
    }

    &:hover {
      background: #bc031c;
      color: #fff;
      transition: all 0.2s ease;

      svg path {
        fill: #fff;
      }
    }
  }
}
.selected_dev_button {
  background: #bc031c !important;
  color: #fff;
  transition: all 0.2s ease;
  transition: all ease;

  svg path {
    fill: #fff;
  }
}

.other_roles_input {
  width: 100%;

  input {
    border-radius: 3px;
    border: 0.75px solid #ccc;
    background: #fff;
    width: 60%;
    padding: 7px;

    &:focus {
      outline: none;
    }

    @media (max-width: 1400px) {
      padding: 5px;
    }
    @media (max-width: 576px) {
      width: 100%;
    }
  }
}

.left {
  height: 40rem;
  border-bottom-left-radius: 20rem;
  border-top-left-radius: 20rem;

  img {
    height: 40rem;
  }
}

.hireCards {
  transition: 0.5s;
}
.hireCards:hover {
  transform: translate(0, -3rem);
}

.rock_pic {
  width: 500px;
  height: 500px;

  @media (max-width: 1400px) {
    width: 450px;
    height: 500px;
  }

  @media (max-width: 1200px) {
    width: 385px;
  }
}

.form-row-2 {
  @media (max-width: 768px) {
    padding: unset !important;
  }
}

.slideDown {
  animation-name: slideDown;
  -webkit-animation-name: slideDown;

  animation-duration: 1s;
  -webkit-animation-duration: 1s;

  animation-timing-function: ease;
  -webkit-animation-timing-function: ease;

  visibility: visible !important;
}

@keyframes slideDown {
  0% {
    transform: translateY(-100%);
  }

  100% {
    transform: translateY(0%);
  }
}

.hidden {
  opacity: 0;
}
.visible {
  transition: all 1s;
  opacity: 1 !important;
}

.scroll_to_full {
  overflow: hidden;
  width: 100%;
  height: 100%;
}
.scroll_num {
  overflow: hidden;
  height: 100%;
}

.fadeInUp {
  animation: fadeInUp 0.5s forwards;
}

.fadeInDown {
  animation: fadeInDown 0.5s forwards;
}

@keyframes fadeInUp {
  from {
    transform: translateY(100%);
  }
  to {
    transform: translateY(0%);
  }
}
@keyframes fadeInDown {
  from {
    transform: translateY(-100%);
  }
  to {
    transform: translateY(0%);
  }
}

.w3 {
  display: inline-block;
  width: 3rem;
  height: 1px;
  background-color: red;
}

.roleImg {
  svg {
    min-width: 1.2rem;
    width: 1.2rem;
    height: 1.7rem;
  }
}

.main_tech_icon {
  @media (max-width: 576px) {
    margin: 1rem 0;
    padding: unset;
    text-align: center;
  }

  .tech-icons {
    width: 100%;
    height: 3rem;

    @media (max-width: 768px) {
      height: 2.5rem;
    }
    @media (max-width: 576px) {
      width: fit-content;
    }

    @media (max-width: 576px) {
      height: 2rem;
    }
  }
}

.enable {
  svg path {
    fill: $creware-red !important;
  }
}
.disable {
  svg path {
    fill: #fff;
  }
}

.span-blocks {
  height: 3.5rem !important;
  display: flex;
  width: 6rem;
}

.zoomIn {
  animation: scale-in 1s ease-in-out;
}

@keyframes scale-in {
  0% {
    transform: scale(0);
  }

  50% {
    transform: scale(1.2);
  }
  100% {
    transform: scale(1);
  }
}

.hireTeamThumbsUp {
  width: 19.5rem;
  height: 19.5rem;
  border-radius: 50%;
  user-select: none;

  @media (max-width: 1400px) {
    width: 17.75rem;
    height: 17.75rem;
  }

  @media (max-width: 1200px) {
    width: 14rem;
    height: 14rem;
  }

  @media (max-width: 768px) {
    width: 12.5rem;
    height: 12.5rem;
  }

  @media (max-width: 576px) {
    width: 8rem;
    height: 8rem;
  }
}
