.main {
  width: 100%;
  margin: auto;
}

.main-card {
  margin-bottom: 4rem;
}

#title {
  font-size: 1.4rem;
  font-weight: 600;
  color: #fff;
  line-height: normal;
}

#card-img {
  background-color: #d0021b;
  width: 10%;
  height: 100%;
  padding: 0.6rem;
  border-radius: 49%;
  margin-right: 0.6rem;
}

#desc {
  color: #fff;
  font-size: 1.18rem;
  font-weight: 400;
  line-height: normal;
  text-transform: capitalize;
  margin-left: 2.7rem;
}

.design_cards {
  margin: 3rem 0;

  @media (max-width: 576px) {
    margin: 3rem 0 2rem 0;
    
  }


  .single_card {
    margin-bottom: 2.5rem;

    @media (max-width: 576px) {
      margin-bottom: 1.5rem;
    }

    .head {
      padding: unset !important;
      display: flex;
      justify-content: end;

      @media (max-width: 576px) {
        justify-content: start;
      }
    }

    h6 {
      color: #fff;
      font-size: 1.5rem;

      font-style: normal;
      font-weight: 600;
      line-height: normal;
      margin-bottom: 0.9rem;
      @media (max-width: 1400px) {
        font-size: 1.3rem;
      }
      @media (max-width: 1050px) {
        font-size: 1.3rem;
      }
      @media (max-width: 850px) {
        font-size: 1.1rem;
      }
      @media (max-width: 426px) {
        font-size: 0.9rem;
      }
    }

    p {
      color: #fff;
      font-size: 1rem;
      font-style: normal;
      font-weight: 400;
      line-height: normal;
      text-transform: capitalize;

      @media (max-width: 1400px) {
      }
      @media (max-width: 1200px) {
        font-size: 0.9rem;
      }
      @media (max-width: 576px) {
        font-size: 0.8rem;
      }
    }
  }
}
