#ourprojectsmain {
  background-color: #060b27;
  width: 75%; /* 75% / 16px = 4.6875rem */
  margin: auto;

  @media (max-width: 36rem) {
    /* 576px / 16px = 36rem */
    width: 100%; /* 100% / 16px = 6.25rem */
  }
}

.card-body {
  padding: 1rem; /* 16px / 16px = 1rem */

  @media (max-width: 75rem) {
    /* 1200px / 16px = 75rem */
    padding: 0.625rem; /* 10px / 16px = 0.625rem */
  }
  @media (max-width: 48rem) {
    /* 768px / 16px = 48rem */
    padding: 0.625rem; /* 10px / 16px = 0.625rem */
  }

  h6 {
    @media (max-width: 48rem) {
      /* 768px / 16px = 48rem */
      font-size: 0.875rem; /* 14px / 16px = 0.875rem */
      text-align: left;
    }
    @media (max-width: 36rem) {
      /* 576px / 16px = 36rem */
      font-size: 0.75rem; /* 12px / 16px = 0.75rem */
      text-align: left;
    }
    @media (max-width: 26.625rem) {
      /* 426px / 16px = 26.625rem */
      font-size: 0.75rem; /* 12px / 16px = 0.75rem */
      text-align: left;
    }
    @media (max-width: 20.375rem) {
      /* 326px / 16px = 20.375rem */
      font-size: 0.625rem; /* 10px / 16px = 0.625rem */
      text-align: left;
    }
  }
}

.first-left {
  text-align: left;

  @media (max-width: 48rem) {
  }
}

.first-h2 {
  width: 98%; /* 98% of parent width in rem */
  color: rgba(255, 255, 255, 0.8);
  font-size: 3.84rem; /* 58px / 16px = 3.625rem */
  font-style: normal;
  font-weight: 800;
  line-height: normal;
  margin-bottom: 2.5rem; /* 40px / 16px = 2.5rem */

  @media (min-width: 1441px) {
    font-size: 4.3rem;
  }

  @media (max-width: 1400px) {
    /* 1400px / 16px = 87.5rem */
    font-size: 3.5rem; /* 52px / 16px = 3.25rem */
    margin-bottom: 2.1875rem; /* 35px / 16px = 2.1875rem */
  }
  @media (max-width: 1200px) {
    /* 1200px / 16px = 75rem */
    font-size: 3rem; /* 35px / 16px = 2.1875rem */
    margin-bottom: 2.1875rem; /* 35px / 16px = 2.1875rem */
  }
  @media (max-width: 768px) {
    /* 768px / 16px = 48rem */
    font-size: 1.875rem; /* 30px / 16px = 1.875rem */
    margin-bottom: 1.25rem; /* 20px / 16px = 1.25rem */
    text-align: center;
  }
  @media (max-width: 36rem) {
    /* 576px / 16px = 36rem */
    font-size: 1.125rem; /* 18px / 16px = 1.125rem */
    margin-bottom: 1.25rem; /* 20px / 16px = 1.25rem */
  }
}

.first-p {
  /* font-family: Outfit; */
  color: #b0b0b0;
  font-size: 1.25rem; /* 20px / 16px = 1.25rem */
  font-style: normal;
  font-weight: 300;
  line-height: normal;

  @media (max-width: 75rem) {
    /* 1200px / 16px = 75rem */
    font-size: 1.125rem; /* 18px / 16px = 1.125rem */
  }
  @media (max-width: 48rem) {
    /* 768px / 16px = 48rem */
    font-size: 1.125rem; /* 18px / 16px = 1.125rem */
  }
  @media (max-width: 36rem) {
    /* 576px / 16px = 36rem */
    font-size: 0.875rem; /* 14px / 16px = 0.875rem */
  }
}

.first-btn {
  width: 100%;
  margin-top: 1.875rem; /* 30px / 16px = 1.875rem */

  @media (max-width: 48rem) {
    /* 768px / 16px = 48rem */
    text-align: center;
  }
  @media (max-width: 36rem) {
    /* 576px / 16px = 36rem */
    margin-top: 1.25rem; /* 20px / 16px = 1.25rem */
  }

  button {
    background-color: #d0021b;
    color: white;
    border: none;
    border-radius: 3.869px;
    padding: 0.625rem 1.25rem; /* 10px / 16px = 0.625rem, 20px / 16px = 1.25rem */

    @media (max-width: 48rem) {
      /* 768px / 16px = 48rem */
      width: 50%;
    }
    @media (max-width: 36rem) {
      /* 576px / 16px = 36rem */
      text-align: center;
      width: 100%;
    }
  }
}

.first-right {
  position: relative;
  padding: 0;

  @media (max-width: 992px) {
    display: flex;
    margin: auto;
    width: 500px;
    text-align: center;
  }
  @media (max-width: 48rem) {
    /* 768px / 16px = 48rem */
    display: flex;
    justify-content: start;
    margin-bottom: 1.875rem; /* 30px / 16px = 1.875rem */
  }
  @media (max-width: 36rem) {
    /* 576px / 16px = 36rem */
    display: flex;
    margin: unset;
    width: 300px;
    justify-content: center;
    margin-bottom: 1.875rem; /* 30px / 16px = 1.875rem */
  }

  @media (max-width:400px) {
    justify-content: flex-start;
  }
}

.progresive-card {
  background-color: white;
  border-radius: 1.25rem; /* 20px / 16px = 1.25rem */
}

.progresive-card-p {
  color: black;
  font-size: 0.6875rem; /* 11px / 16px = 0.6875rem */
  font-weight: 600;
}

.progress-bar1 {
  height: 0.5625rem;
  border-radius: 0.3125rem;
  transition: 0.2s linear;
  transition-property: width, background-color;
  @media (max-width: 576px) {
    height: 0.42rem;
  }
  // @media (max-width: 427px) {
  //   height: 0.42rem;
  // }
  // @media (max-width: 325px) {
  //   height: 0.4rem;
  // }
}
.progress-bar2 {
  height: 0.5625rem;
  border-radius: 0.3125rem;
  transition: 0.2s linear;
  transition-property: width, background-color;
  @media (max-width: 576px) {
    height: 0.42rem;
  }
}
.progress-bar3 {
  height: 0.5625rem;
  border-radius: 0.3125rem;
  transition: 0.2s linear;
  transition-property: width, background-color;
  @media (max-width: 576px) {
    height: 0.42rem;
  }
}

.progress {
  height: 0.5625rem !important; /* 9px / 16px = 0.5625rem */
  background-color: #bfbfbf;
  border-radius: 0.3125rem; /* 5px / 16px = 0.3125rem */
}

.progress-striped1 .progress-bar1 {
  background-color: #3f5cc3;
  width: 98%;
  animation: progressAnimationStrike1 2s;
}
.progress-striped2 .progress-bar2 {
  background-color: #d0021b;
  width: 96%;
  animation: progressAnimationStrike2 2s;
}
.progress-striped3 .progress-bar3 {
  background-color: #060b27;
  width: 95%;
  animation: progressAnimationStrike3 2s;
}

@keyframes progressAnimationStrike1 {
  0% {
    width: 0;
  }
  75% {
    width: 100%;
  }
  100% {
    width: 98%;
  }
}
@keyframes progressAnimationStrike2 {
  0% {
    width: 0;
  }
  75% {
    width: 100%;
  }
  100% {
    width: 96%;
  }
}
@keyframes progressAnimationStrike3 {
  0% {
    width: 0;
  }
  75% {
    width: 100%;
  }
  100% {
    width: 95%;
  }
}

.uppersec-img-div {
  width: 80%; /* 80% / 16px = 5rem */

  @media (max-width: 75rem) {
    /* 1200px / 16px = 75rem */
    width: 70%; /* 70% / 16px = 4.375rem */
    margin-top: unset;
  }
  @media (max-width: 992px) {
    /* 1200px / 16px = 75rem */

    width: 80%;
  }
  @media (max-width: 48rem) {
    /* 768px / 16px = 48rem */
    width: 50%; /* 50% / 16px = 3.125rem */
    margin: unset;
    margin-top: 3.125rem; /* 50px / 16px = 3.125rem */
  }
  @media (max-width: 36rem) {
    /* 576px / 16px = 36rem */
    width: 70%;
    font-size: 0.75rem; /* 12px / 16px = 0.75rem */
  }
  @media (max-width: 20.0625rem) {
    font-size: 0.75rem; /* 12px / 16px = 0.75rem */
  }
}

.uppersec-card {
  position: absolute;
  bottom: 1rem;
  left: 16rem;
  background-color: transparent;
  width: 14.375rem;
  height: auto;
  border-radius: 0.705rem;
  background: #fff;

  @media (min-width: 1441px) {
    bottom: 2rem;
    left: 16.2rem;
  }
  @media (max-width: 1400px) {
    bottom: 2rem;
    left: 15rem;
  }

  @media (max-width: 1200px) {
    /* 1200px / 16px = 75rem */
    width: 13.125rem; /* 210px / 16px = 13.125rem */
    left: 13.2rem; /* 13rem / 16px = 8.125rem */
    bottom: 2rem; /* 60px / 16px = 3.75rem */
  }
  @media (max-width: 992px) {
    /* 1200px / 16px = 75rem */
    width: 13.125rem; /* 210px / 16px = 13.125rem */
    left: 14.8rem; /* 13rem / 16px = 8.125rem */
    bottom: -2rem; /* 60px / 16px = 3.75rem */
  }
  @media (max-width: 768px) {
    /* 768px / 16px = 48rem */
    width: 13.4375rem !important; /* 215px / 16px = 13.4375rem */
    left: 13.125rem !important; /* 13rem / 16px = 8.125rem */
    bottom: -1.5rem; /* 50px / 16px = 3.125rem */
  }
  @media (max-width: 36rem) {
    font-size: 0.75rem;
    width: 13rem !important;
    left: 13.5rem !important;bottom: -2.5rem;
  }
  @media (max-width: 500px) {
    width: 12rem !important;
  }
  @media (max-width: 460px) {
    width: 11rem !important;
    left: 12.5rem !important;bottom: -2.5rem;
  }
  @media (max-width: 460px) {
    width: 11rem !important;
    left: 12.5rem !important;bottom: -2.5rem;
  }
  @media (max-width: 400px) {
    width: 10rem !important;
    left: 9.5rem !important;bottom: -2rem;
  }

  .details {
    width: 100%;
    display: flex;
    justify-content: space-between;
    margin: 0.25rem 0 0.25rem 0; /* 4px / 16px = 0.25rem */

    @media (max-width: 23.5rem) {
      /* 376px / 16px = 23.5rem */
      margin: 0.0625rem 0 0.0625rem 0; /* 1px / 16px = 0.0625rem */
    }
    @media (max-width: 20.0625rem) {
      /* 321px / 16px = 20.0625rem */
      margin: 0.0625rem 0 0.0625rem 0; /* 1px / 16px = 0.0625rem */
    }

    h6 {
      color: rgba(0, 0, 0, 0.8);
      font-size: 0.7746875rem !important; /* 12.395px / 16px = 0.7746875rem */
      font-style: normal;
      font-weight: 500;
      line-height: normal;

      @media (max-width: 75rem) {
        /* 1200px / 16px = 75rem */
        font-size: 0.9375rem; /* 15px / 16px = 0.9375rem */
      }
      @media (max-width: 48rem) {
        /* 768px / 16px = 48rem */
        font-size: 0.875rem; /* 14px / 16px = 0.875rem */
      }
      @media (max-width: 36rem) {
        /* 576px / 16px = 36rem */
        font-size: 0.75rem; /* 12px / 16px = 0.75rem */
      }
      @media (max-width: 26.625rem) {
        /* 426px / 16px = 26.625rem */
        font-size: 0.5625rem  !important; /* 11px / 16px = 0.6875rem */
      }
      @media (max-width: 23.5rem) {
        /* 376px / 16px = 23.5rem */
        font-size: 0.5625rem !important; /* 10px / 16px = 0.625rem */
      }
      @media (max-width: 20.0625rem) {
        /* 321px / 16px = 20.0625rem */
        font-size: 0.5625rem !important; /* 9px / 16px = 0.5625rem */
      }
    }

    div {
      color: rgba(0, 0, 0, 0.9);
      text-align: right;
      font-size: 0.7746875rem !important; /* 12.395px / 16px = 0.7746875rem */
      font-style: normal;
      font-weight: 300;

      @media (max-width: 75rem) {
        /* 1200px / 16px = 75rem */
        font-size: 0.9375rem; /* 15px / 16px = 0.9375rem */
      }
      @media (max-width: 48rem) {
        /* 768px / 16px = 48rem */
        font-size: 0.875rem; /* 14px / 16px = 0.875rem */
      }
      @media (max-width: 36rem) {
        /* 576px / 16px = 36rem */
        font-size: 0.75rem; /* 12px / 16px = 0.75rem */
      }
      @media (max-width: 26.625rem) {
        /* 426px / 16px = 26.625rem */
        font-size: 0.6875rem !important; /* 11px / 16px = 0.6875rem */
      }
      @media (max-width: 23.5rem) {
        /* 376px / 16px = 23.5rem */
        font-size: 0.5625rem !important; /* 10px / 16px = 0.625rem */
      }
      @media (max-width: 20.0625rem) {
        /* 321px / 16px = 20.0625rem */
        font-size: 0.5625rem !important; /* 9px / 16px = 0.5625rem */
      }
    }
  }
}

.main-img {
  width: 430px;
  height: auto;

  @media (max-width: 1400px) {
    width: 400px;
  }
  @media (max-width: 1200px) {
    /* 1200px / 16px = 75rem */
    width: 350px; /* 130% / 16px = 8.125rem */
  }
  @media (max-width: 48rem) {
  }
  @media (max-width: 576px) {
    width: 290px !important;
  }
  @media (max-width: 460px) {
    width: 250px !important;
  }
}

.animation-background {
  text-align: left;
}

.animation-background-p {
  font-size: 0.625rem; /* 10px / 16px = 0.625rem */
  font-weight: 600;
}

.animation-background-first-p {
  font-size: 0.59375rem; /* 9.5px / 16px = 0.59375rem */
  font-weight: 400;
}

.progress {
  height: 0.625rem; /* 10px / 16px = 0.625rem */

  @media (max-width: 36rem) {
    /* 426px / 16px = 26.625rem */
    height: 0.4375rem !important; /* 7px / 16px = 0.4375rem */
  }
  // @media (max-width: 20.0625rem) {
  //   /* 321px / 16px = 20.0625rem */
  //   height: 0.375rem !important; /* 6px / 16px = 0.375rem */
  // }
}

.progress-per {
  text-emphasis-color: black;
}

.card-row {
  margin-top: 5rem; /* 80px / 16px = 5rem */
}
