.main {
  .top {
    width: 100%;
    height: 100%;
    position: relative;

    .lightning_bg {
      margin-top: -107px;

      img {
        height: 100%;
        width: 100%;
        opacity: 0.3;

        @media (max-width: 420px) {
          height: 15rem;
        }
      }
    }

    &_left {
      position: absolute;
      width: 51%;
      top: 30%;
      z-index: 10;

      @media (max-width: 1400px) {
        width: 55%;
      }
      @media (max-width: 1300px) {
        width: 57%;
      }
      @media (max-width: 1200px) {
        width: 65%;
      }
      @media (max-width: 768px) {
        top: 35%;
      }
      @media (max-width: 576px) {
        width: 95%;
      }
      @media (max-width: 420px) {
        top: 40%;
      }

      h1 {
        color: #fff;
        font-size: 3rem;
        font-style: normal;
        line-height: initial;
        font-weight: 700;
        text-transform: uppercase;
        margin-bottom: 1.4rem;

        @media (max-width: 1200px) {
          font-size: 2.8rem;
        }
        @media (max-width: 768px) {
          font-size: 1.5rem;
        }
        @media (max-width: 576px) {
          font-size: 1.2rem;
          width: 68%;
          margin-bottom: 0.5rem;
        }
        @media (max-width: 475px) {
          font-size: 0.7rem;
          width: 64%;
          margin-bottom: 0.2rem;
        }

        span {
          opacity: 0.9;
          color: #d0021b;
        }
      }

      p {
        color: #b0b0b0;
        font-size: 1.313rem;
        font-style: normal;
        font-weight: 500;
        line-height: 30px;
        width: 66%;

        @media (max-width: 1200px) {
        }
        @media (max-width: 768px) {
          font-size: 0.8rem;
          line-height: 1.25rem;
        }
        @media (max-width: 576px) {
          width: 60%;
        }
        @media (max-width: 475px) {
          width: 50%;
        }
        @media (max-width: 420px) {
          font-size: 0.7rem;
        }
        @media (max-width: 376px) {
          width: 50%;
          line-height: 0.938rem;
        }
      }

      @media (max-width: 768px) {
        margin-bottom: 1.5rem;
      }
    }

    .security_lock {
      img {
        height: 45%;
        width: 35%;
        position: absolute;
        top: 20%;
        right: 2%;
        z-index: 11;

        @media (max-width: 768px) {
          top: 27%;
          width: 30%;
        }

        @media (max-width: 576px) {
          top: 40%;
          width: 40%;
        }
        @media (max-width: 420px) {
          top: 35%;
        }
      }
    }
  }

  .digital_device {
    margin-top: 1.5rem;

    .title {
      color: #fff;
      text-align: center;
      font-size: 2.9rem;
      font-style: normal;
      font-weight: 700;
      line-height: normal;
      text-transform: capitalize;
      width: 45%;
      margin: auto;
      margin-bottom: 1.5rem;

      span {
        color: #ab051e;
      }

      @media (max-width: 1400px) {
        font-size: 2rem;
        width: 38%;
      }
      @media (max-width: 1200px) {
        font-size: 2.5rem;
        width: 55%;
      }
      @media (max-width: 768px) {
        font-size: 1.5rem;
        width: 46%;
      }
      @media (max-width: 576px) {
        font-size: 1.1rem;
        width: 100%;
      }
    }

    .para {
      color: #fff;
      text-align: center;
      font-size: 1rem;
      font-style: normal;
      font-weight: 400;
      line-height: normal;
      text-transform: capitalize;
      width: 59%;
      margin: auto;

      @media (max-width: 1400px) {
        width: 59%;
      }
      @media (max-width: 1200px) {
        width: 66%;
        font-size: 0.8rem;
      }
      @media (max-width: 768px) {
        width: 100%;
        font-size: 0.9rem;
      }
      @media (max-width: 576px) {
        width: 100%;
        font-size: 0.85rem;
      }
    }
  }

  .digital_device {
    .bottom {
      @media (max-width: 576px) {
        width: 97%;
        margin: auto;
      }
      .bottom_right {
        padding: 7rem 0 2rem 0;

        @media (max-width: 768px) {
          padding: 5rem 0 1rem 0;
        }
        @media (max-width: 576px) {
          padding: 2rem 0 0.5rem 0;
        }
      }
    }
  }

  .managed_services {
    .title {
      color: #fff;
      text-align: center;
      font-size: 2.5rem;
      font-style: normal;
      font-weight: 700;
      line-height: normal;
      text-transform: capitalize;

      margin: auto;
      margin-bottom: 1.5rem;

      span {
        color: #ab051e;
      }

      @media (max-width: 1400px) {
        font-size: 2.7rem;
      }
      @media (max-width: 1200px) {
        font-size: 2.5rem;
      }
      @media (max-width: 768px) {
        font-size: 1.5rem;
      }
      @media (max-width: 576px) {
        font-size: 1.1rem;
      }
    }

    .para {
      color: #fff;
      text-align: center;
      font-size: 1rem;
      font-style: normal;
      font-weight: 400;
      line-height: normal;
      text-transform: capitalize;
      width: 59%;
      margin: auto;

      @media (max-width: 1400px) {
        width: 59%;
      }
      @media (max-width: 1200px) {
        width: 66%;
        font-size: 0.8rem;
      }
      @media (max-width: 768px) {
        width: 100%;
        font-size: 0.9rem;
      }
      @media (max-width: 576px) {
        width: 100%;
        font-size: 0.85rem;
      }
    }

    .cards {
      width: 80%;

      margin: auto;

      @media (max-width: 1400px) {
        width: 91%;
      }
      @media (max-width: 1200px) {
        width: 100%;
      }
    }
  }

  .view_more {
    font-size: 2.59rem;
    display: flex;
    align-items: center;
  }
}
