* {
  box-sizing: border-box;
}

// Scrollbar
.os-scrollbar-track {
  left: 0;
  right: 0;
  width: 400px;
  height: 10px;
  max-width: 100%;
  margin: auto;

  &::before {
    position: absolute;
    inset: 0;
    height: 1px;
    margin: auto;
    background-color: #fff;
    content: "";
  }

  .os-scrollbar-handle {
    background-color:orange;
    border-radius: 3px;
    cursor: grab;
    transition: background-color 0.3s;

    &.active {
      cursor: grabbing;
    }

    &:hover {
      background-color: orangered;
    }
  }
}

// Carousel
.gallery-carousel {
  --gallery-item-width: 300px;
  --gallery-item-height: 250px;
  position: relative;
  display: block;
  width: 100%;
  text-align: center;
  font-size: 0;

  a,
  img {
    display: block;
  }

  a {
    position: relative;
  }

  img {
    height: 100%;
    max-width: 100%;
    object-fit: cover;
  }

  .gallery-photos {
    height: calc(var(--gallery-item-height) * 2);
    margin-bottom: 40px;
    display: inline-flex;
    justify-content: center;
    align-items: flex-start;
    flex: 0 1 auto;
  }

  .gallery-photo {
    position: relative;
    overflow: hidden;
    flex: 0 0 auto;

    &.thumbs {
      width: var(--gallery-item-width);
      height: var(--gallery-item-height);
      padding: 0 1px 0;

      + .thumbs {
        padding-top: 1px;
        margin-left: calc(-1 * var(--gallery-item-width));
        margin-top: var(--gallery-item-height);
      }
    }

    &.featured {
      width: calc(var(--gallery-item-width) * 2);
      height: calc(var(--gallery-item-height) * 2);

      + .featured {
        padding-left: 1px;
      }
    }
  }
}

#wrapper {
  width: 100%;
}
