.portfolio-h2 {
  text-align: center;
  font-size: 2.625rem; /* 42px / 16px = 2.625rem */
  font-weight: 700;
  line-height: 4.6875rem; /* 75px / 16px = 4.6875rem */
  letter-spacing: 0;
  margin-bottom: 1.25rem; /* 20px / 16px = 1.25rem */

  @media (max-width: 23.5rem) {
    /* 376px / 16px = 23.5rem */
    font-size: 1.375rem; /* 22px / 16px = 1.375rem */
    font-weight: 700;
  }
}

.base-div {
  position: relative;
  margin-bottom: 3rem;
}
.animated-p-div {
  margin-top: 8.75rem; /* 140px / 16px = 8.75rem */
}

.portfolio-card {
  // width: 60%;
  font-size: 3rem;
  font-weight: 700;
  line-height: normal;
  display: flex;
  gap: 2.1875rem; /* 35px / 16px = 2.1875rem */
  overflow-x: scroll;
  white-space: nowrap !important;
  padding-bottom: 3.125rem;

  @media (max-width: 350px) {
    /* 400px / 16px = 25rem */
    font-size: 2; /* 25px / 16px = 1.5625rem */
    font-weight: 550;
  }
  @media (max-width: 25rem) {
    /* 400px / 16px = 25rem */
    font-size: 1.5625rem; /* 25px / 16px = 1.5625rem */
    font-weight: 550;
  }
  @media (max-width: 769px) {
    /* 400px / 16px = 25rem */
    font-size: 2rem;
  }

  scrollbar-width: thin;
  scrollbar-color: red transparent;

  &::-webkit-scrollbar {
    width: 0px;
    height: 0px;
    display: none;
  }
}

.portfolio-div {
  margin-top: 1.875rem; /* 30px / 16px = 1.875rem */
}

.portfolio-card-div {
  position: relative;
}

.card-1 {
  border: none;
}

.card-img-top {
  height: 100%;
  width: 100%;
}

.custom-scroll {
  border-bottom: 0.09375rem solid red; /* 1.5px / 16px = 0.09375rem */
  overflow-x: scroll;
  height: 0rem; /* 0px / 16px = 0rem */
}

.custom-arrow {
  color: white;
  justify-content: space-between;
  text-align: right;
  font: 2.5rem Arial; /* 40px / 16px = 2.5rem */
  transition: transform 0.2s;
  -webkit-text-fill-color: transparent !important;
  border: 0 !important;
  -webkit-text-stroke: 0.0625rem; /* 1px / 16px = 0.0625rem */
}

.custom-arrow:hover {
  color: white;
  text-align: right;
  font: 2.5rem Arial; /* 40px / 16px = 2.5rem */
}

.fa-arrow-right {
  margin-left: 1.25rem; /* 20px / 16px = 1.25rem */
}

.card-img-overlay {
  border-radius: 0.312rem;
  position: relative;
  padding: 0;
  cursor: pointer;
  overflow: hidden;
}

.overlay {
  position: absolute;
  top: 0;
  width: 0; /* Start with zero width */
  height: 100%;
  opacity: 0;
  padding: 1.25rem; /* 20px / 16px = 1.25rem */
  transition: width 0.3s ease-in-out, opacity 0.3s ease-out; /* Delay red layer by 1 second */
}

.overlay.red {
  border-radius: 0.3rem;
  background: linear-gradient(
    90deg,
    #d0021b99 50%,
    #0077ff8c 50%
  ); /* Use rgba to set opacity */
  transition-delay: 0.1s;
  left: 0; /* Start from the left */
}

.card-img-overlay:hover .overlay {
  overflow: hidden;
  width: 42rem; /* Expand the width */
  opacity: 1; /* Adjust the opacity value as needed */
  z-index: 1;
}

.card-img-overlay:hover .overlay.red {
  z-index: 2;
}

.animated-h6 {
  color: white;
  font-size: 1.125rem; /* 18px / 16px = 1.125rem */
  font-weight: 600;
}

.animated-desc {
  color: white;
  font-size: 0.6875rem; /* 11px / 16px = 0.6875rem */
  font-weight: 300;
}

.animated-p-div {
  margin-top: 8.75rem;
  @media (max-width: 1200px) {
    margin-top: 4.5rem;
  }
  @media (max-width: 1150px) {
    margin-top: 5rem;
  }
  @media (max-width: 1024px) {
    margin-top: 4rem;
  }
  @media (max-width: 1024px) {
    margin-top: 4rem;
  }
  @media (max-width: 992px) {
    margin-top: 9rem;
  }
  @media (max-width: 769px) {
    margin-top: 5.85rem;
  }
  @media (max-width: 426px) {
    margin-top: 6.85rem;
  }
  @media (max-width: 379px) {
    margin-top: 4.85rem;
  }
  @media (max-width: 350px) {
    margin-top: 3rem;
  }
  @media (max-width: 321px) {
    margin-top: 3.75rem;
  }
}

.animated-p {
  color: white;
  font-size: 0.6875rem; /* 11px / 16px = 0.6875rem */
  font-weight: 500;
  letter-spacing: 0.0625rem; /* 1px / 16px = 0.0625rem */
}

.red-s {
  background-color: red;
  height: 0.625rem; /* 10px / 16px = 0.625rem */
  border-radius: 0.3125rem; /* 5px / 16px = 0.3125rem */
  margin-top: 2.8125rem; /* 45px / 16px = 2.8125rem */
}

.grey {
  background-color: grey;
  height: 0.0625rem; /* 1px / 16px = 0.0625rem */
  margin-top: 3.125rem; /* 50px / 16px = 3.125rem */
}

.arrow {
  margin-top: 0.5rem; /* 8px / 16px = 0.5rem */
}

.left-arrow {
  height: 0.25rem; /* 4px / 16px = 0.25rem */
}

.left-arrow:hover {
  height: 0.25rem; /* 4px / 16px = 0.25rem */
}

.scroll-row {
  margin-right: 0;
}

.track {
  border: 1px solid grey;
  position: relative;
  height: 0;
}
.thumb {
  border-radius: 1rem;
  background-color: #d0021b;
  bottom: -5px;
  position: absolute;
  z-index: 10;
}

.arrow-row {
  margin-top: -50px;
}

.arrow-div {
  display: flex;
  justify-content: center;
  // background-color: #060b27;
  font-size: 1.5rem;
  overflow: hidden;
  // margin-top: 1.25rem;

  @media (max-width: 1024px) {
    font-size: 1.2rem;
  }
  @media (max-width: 992px) {
    margin-top: 1.9rem;
  }
  @media (max-width: 780px) {
    margin-top: 1.8rem;
  }
  @media (max-width: 624px) {
    margin-top: 1.8rem;
  }
  @media (max-width: 460px) {
    margin-top: 1.8rem;
  }
}

.custom-button {
  // background-color: #060b27;
  color: #d0021b;
  text-align: left;
  font-size: 2.68rem;
  font-weight: 600;
  transition: transform 0.2s;

  display: flex;
  align-items: center;
  user-select: none;

  @media (max-width: 1106px) {
    font-size: 2.2rem;
  }
  @media (max-width: 992px) {
    font-size: 1.7rem;
  }
  @media (max-width: 780px) {
    font-size: 1.4rem;
  }
  @media (max-width: 624px) {
    font-size: 1.2rem;
    --bs-gutter-x: 0; /* Set it to your desired value (e.g., 0) or unset it */
  }
  @media (max-width: 460px) {
    font-size: 1rem;
    --bs-gutter-x: 0; /* Set it to your desired value (e.g., 0) or unset it */
  }
  @media (max-width: 331px) {
    font-size: 0.7rem;
    --bs-gutter-x: 0; /* Set it to your desired value (e.g., 0) or unset it */
  }

  svg {
    margin-top: 0.5rem;
    margin-left: 0.2rem;
    @media (max-width: 700px) {
      margin-top: 0.1rem;
    }
    @media (max-width: 550px) {
      margin-top: 0.3rem;
    }
  }
}

.custom-button:hover {
  font-size: 2.68rem;
  font-weight: 600;
  transition: transform 0.2s;
  animation: zoom-out 2s ease-out infinite;
  -webkit-text-fill-color: transparent;
  -webkit-text-stroke: 0.07rem;
  @media (max-width: 1106px) {
    font-size: 2.2rem;
  }
  @media (max-width: 992px) {
    font-size: 1.7rem;
  }
  @media (max-width: 780px) {
    font-size: 1.4rem;
  }
  @media (max-width: 624px) {
    font-size: 1.2rem;
    --bs-gutter-x: 0; /* Set it to your desired value (e.g., 0) or unset it */
  }
  @media (max-width: 460px) {
    font-size: 1rem;
    --bs-gutter-x: 0; /* Set it to your desired value (e.g., 0) or unset it */
  }
  @media (max-width: 331px) {
    font-size: 0.7rem;
    --bs-gutter-x: 0; /* Set it to your desired value (e.g., 0) or unset it */
  }

  svg {
    margin-top: 0.5rem;
    margin-left: 0.2rem;
    @media (max-width: 700px) {
      margin-top: 0.1rem;
    }
    @media (max-width: 550px) {
      margin-top: 0.3rem;
    }
  }
}
