.address-img1 {
  width: 100%;
}

.main-div{
  width: 86%;
  margin: auto;
}

.address-img2 {
  width: 100%;
}

.address-h5 {
  color: white;
  font-weight: 600;
  font-size: 1.5rem; /* 22px / 16px = 1.375rem */
  // line-height: 2.1875rem; /* 35px / 16px = 2.1875rem */

  @media (max-width: 49.125rem) {
    /* 786px / 16px = 49.125rem */
    font-size: 1.0625rem; /* 17px / 16px = 1.0625rem */
    line-height: 1.5rem; /* 24px / 16px = 1.5rem */
  }
}

.redline {
  height: 0.0625rem; /* 1px / 16px = 0.0625rem */
  background-color: #d0021b;
}

.address-p {
  color: #fff;
  font-size: 1.4rem;
  // width: 23.2rem;
  // width: 90%;
  // width: 70%;
  font-weight: 500;

  @media (max-width: 49.125rem) {
    color: #fff;
    font-size: 0.6875rem;
    line-height: 1.1875rem;
    width: 70%;
  }
}

.direction-p {
  width: 4.78rem;
  height: 0.95rem;
  font-size: 0.75rem; /* 11px / 16px = 0.6875rem */
  font-weight: 400;
  color: white;
  margin-top: 2.5rem; /* 40px / 16px = 2.5rem */
  margin-bottom: 2rem;

  @media (max-width: 49.125rem) {
    /* 786px / 16px = 49.125rem */
    font-size: 0.4375rem; /* 7px / 16px = 0.4375rem */
    font-weight: 300;
    color: white;
    margin-top: 1.25rem; /* 20px / 16px = 1.25rem */
  }
}

.direction-p:hover{
  color: red;
  cursor: pointer;
}
