.header1 {
  position: relative;
  margin: 0 auto;
  padding: 0;
  box-sizing: border-box;
  background: #060b27;
}
.content {
  margin-bottom: 7rem;
  @media (max-width: 800px) {
   margin-left: 3rem;
  }
  @media (max-width: 456px) {
    margin-left: unset;
    margin-bottom: 4rem;
  }
}
.container1 {
  width: 102%;
  margin-left: 1rem !important;
  text-align: center;

  @media (min-width: 1441px) {
    width: 100%;
    margin-left: 1.5rem !important;
  }
  @media (max-width: 1400px) {
    width: 102%;
    margin-left: -1rem !important;
    text-align: center;
  }
  @media (max-width: 1200px) {
    width: 100%;
    margin-left: 1rem !important;
    text-align: center;
  }
  @media (max-width: 992px) {
    width: 100%;
    margin-left: 3rem !important;
    text-align: center;
  }
  @media (max-width: 820px) {
    width: 100%;
    margin-left: unset !important;
    text-align: center;
  }

  @media (max-width: 576px) {
    width: 100%;
    margin-left: 0rem !important;
    text-align: center;
  }
  :global {
    .slick-slider .slick-slide.slick-current,
    .slick-slider .slick-slide.slick-center {
      margin: unset !important;
    }
    .slick-slider .slick-active.slick-center {
      width: unset !important;
    }

    .slick-slider .slick-slide.slick-current,
    .slick-slider .slick-slide.slick-center {
      transform: unset;
      width: unset !important;
    }
    .slick-slide .slick-active .slick-current {
      width: unset !important;
    }
  }

  .slick-arrow .slick-prev {
    color: black;
    left: 20px;
    z-index: 10;
  }
  .slick-next {
    color: black;
    right: 20px;
    z-index: 10;
  }
}
.single-card {
  // width: 90%;
  padding: 0.6rem 1rem 0.1rem 0.8rem;
  border: 1px solid transparent;
  @media (max-width: 576px) {
    margin-left: 7rem !important;
  }
  @media (max-width: 480px) {
    margin-left: 5rem !important;
  }
  @media (max-width: 426px) {
    margin-left: 4rem !important;
  }
  @media (max-width: 376px) {
    margin-left: 2.5rem !important;
  }
  @media (max-width: 321px) {
    margin-left: 1rem !important;
  }
}
.single-card:hover {
  border: 1px solid red;
  padding: 0.6rem 1rem 0.1rem 0.8rem;
  background: linear-gradient(
    0deg,
    rgba(208, 2, 27, 0.15) 0%,
    rgba(208, 2, 27, 0) 100%
  );
}

.card-img-top {
  width: 16.25rem;
  background: linear-gradient(
    180deg,
    rgba(126, 87, 201, 0.6) 0%,
    rgba(255, 116, 116, 0.3) 75%
  );
}

.upper-p {
  margin-top: 1rem;
  color: white;
  font-size: 0.95rem;
  font-weight: 400;
  text-align: left;
}

.card-title-h2 {
  text-align: left;
  width: 13.8rem;
  color: white;
  font-size: 1.1rem;
  font-weight: 500;
}

.card-text-p {
  width: 16.1rem;
  color: white;
  font-size: 0.85rem;
  font-weight: 400;
  line-height: 1.1rem;
  text-align: left;
}

.lowercontent {
  color: #fff;
  font-size: 0.84rem;
  font-style: normal;
  font-weight: 600;
  line-height: normal;
  display: flex;
  align-items: center;
  text-align: center;
  gap: 0.7rem;
  flex-wrap: wrap;
  margin-left: 0.6rem;
  // padding-bottom: 4rem;

  @media (max-width: 576px) {
    margin-left: 7.8rem !important;
  }
  @media (max-width: 480px) {
    margin-left: 5.8rem !important;
  }
  @media (max-width: 426px) {
    margin-left: 4.8rem !important;
  }
  @media (max-width: 376px) {
    margin-left: 3.3rem !important;
  }
  @media (max-width: 321px) {
    margin-left: 1.8rem !important;
  }

  .bullets {
    width: fit-content;
    background: linear-gradient(#e66465, #9198e5);
    height: 0.2em;
    width: 0.2rem;
    border-radius: 50%;
  }
}

.insight-head {
  text-align: center;
  margin: 3.12rem 0 3.12rem 0;
  color: white;
  font-size: 2.81rem;
  font-weight: 500;

  @media (max-width: 578px) {
    font-size: 2.5rem;
  }
  @media (max-width: 400px) {
    font-size: 2rem;
  }
}
.custom-button {
  position: absolute;
  bottom: -5.2rem;
  right: 2rem;
  text-decoration: none;
  width: fit-content;
  color: #d0021b;
  text-align: left;
  font-size: 2.68rem;
  font-weight: 600;
  transition: transform 0.2s;
  display: flex;
  align-items: center;
  user-select: none;

  @media (max-width: 1200px) {
    bottom: -5rem;
    font-size: 2.2rem;
  }
  @media (max-width: 992px) {
    font-size: 1.7rem;
    bottom: -5rem;
  }
  @media (max-width: 780px) {
    font-size: 1.4rem;
  }
  @media (max-width: 624px) {
    font-size: 1.2rem;
    --bs-gutter-x: 0;
  }
  @media (max-width: 460px) {
    bottom: -2.3rem;
    font-size: 1rem;
    --bs-gutter-x: 0;
  }
  @media (max-width: 331px) {
    font-size: 0.7rem;
    bottom: -2rem;
    --bs-gutter-x: 0;
  }

  svg {
    margin-top: 0.5rem;
    margin-left: 0.2rem;
    @media (max-width: 992px) {
      margin-top: 0;
    }
    @media (max-width: 550px) {
      margin-top: 0.2rem;
    }
  }
}

.custom-button:hover {
  font-size: 2.68rem;
  font-weight: 600;
  transition: transform 0.2s;
  animation: zoom-out 2s ease-out infinite;
  -webkit-text-fill-color: transparent;
  -webkit-text-stroke: 0.07rem;
  @media (max-width: 1106px) {
    font-size: 2.2rem;
  }
  @media (max-width: 992px) {
    font-size: 1.7rem;
  }
  @media (max-width: 780px) {
    font-size: 1.4rem;
  }
  @media (max-width: 624px) {
    font-size: 1.2rem;
    --bs-gutter-x: 0;
  }
  @media (max-width: 460px) {
    font-size: 1rem;
    --bs-gutter-x: 0;
  }
  @media (max-width: 331px) {
    font-size: 0.7rem;
    --bs-gutter-x: 0;
  }

  svg {
    margin-top: 0.5rem;
    margin-left: 0.2rem;
    @media (max-width: 700px) {
      margin-top: 0.1rem;
    }
    @media (max-width: 550px) {
      margin-top: 0.3rem;
    }
  }
}
